@model Serenity_Sale_System.Membership.ActivateEmailModel

<html>
<head>
    <title>Activate your Serenity_Sale_System account</title>
</head>
<body>
    <p>@Model.DisplayName,</p>

    <p>We received a request to create a new account on Serenity_Sale_System with your e-mail address.</p>

    <p>Click the link below to activate your account:</p>

    <p><a href="@Model.ActivateLink">@Model.ActivateLink</a></p>

    <p>If it wasn't you who requested this, you can ignore this email.</p>

    Thanks,
    The "Serenity_Sale_System" Team
</body>
</html>