@model Serenity_Sale_System.Membership.ResetPasswordEmailModel

<html>
<head>
    <title>Reset your Serenity_Sale_System password</title>
</head>
<body>
    <p>@Model.DisplayName,</p>

    <p>We received a request to change your password on Serenity_Sale_System.</p>

    <p>Click the link below to set a new password:</p>

    <p><a href="@Model.ResetLink">@Model.ResetLink</a></p>

    <p>If you don't want to change your password, you can ignore this email.</p>

    Thanks,
    The "Serenity_Sale_System" Team
</body>
</html>